.body {
  display: flex;
  width: 100%;
  justify-content: center;
  /* align-items: center; */
}

.card {
  position: relative;
  background-color: var(--mantine-color-body);
  width: 70%;
  max-width: 800px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.content {
  width: 50%;
}

.rating {
  position: absolute;
  top: var(--mantine-spacing-xs);
  right: rem(12px);
  pointer-events: none;
}

.title {
  display: block;
  margin-top: var(--mantine-spacing-md);
  margin-bottom: rem(5px);
}

.action {
  background-color: light-dark(
    var(--mantine-color-gray-0),
    var(--mantine-color-dark-5)
  );
}

.footer {
  margin-top: var(--mantine-spacing-md);
}
